body{
    background-color: black;
    margin: 0px;
}

@font-face {
    font-family: boomster;
    src: url('BOOMSTER.otf') format('opentype');
}

header{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    padding-top: 1px;
    background-color: rgb(255, 255, 255);
}

div#marca{
    text-align: center;
}

#marca > h1{
    color: gold;
    background-image: linear-gradient(to bottom, #080708, #C20114 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: boomster;
    font-size: 4em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.452);
}

#marca > h2{
    color: gold;
    background-image: linear-gradient(to bottom, #080708, #C20114 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: boomster;
    font-size: 2em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.452);
}

nav{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 22px;
}

nav > a{
    font-size: 1.7em;
    font-family: boomster;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.567);
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}

a:hover{
    color: black;
    background-color: rgb(162, 0, 0);
    box-shadow: 1px 1px 3px black;
}

main{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.592);
    border-radius: 10px;
    margin: 20px auto;
    width: 1200px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    
}

li{
    text-align: center;
    list-style: none;
    text-decoration: underline;
}

main > h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    text-align: center;
}

footer{
    background-color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(128, 128, 128, 0.671);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

footer > mark{
    background-color: green;
}